body {
  background: linear-gradient(
    45deg,
    rgb(9, 12, 17),
    rgb(16, 28, 49),
    rgb(18, 25, 37)
  );
  color: wheat;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
* {
  box-sizing: border-box;
}
.toggle {
  position: absolute;
  width: 50px;
  height: 25px;
  border: 2px solid wheat;
  border-radius: 30px;
  top: 30px;
  right: 15%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 11px 1px;
}
.button {
  width: 20px;
  height: 20px;
  background: wheat;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}
article {
  border: 2px solid;
  width: 70%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 0;
  position: relative;
}
section {
  width: 300px;
  background: linear-gradient(120deg, rgb(9, 12, 17) 60%, rgb(20, 43, 82));
  text-align: center;
  border: 5px solid wheat;
  border-radius: 15px;
  box-shadow: 0 0 20px black;
  padding: 20px;
  line-height: 30px;
}
section:hover {
  background: linear-gradient(120deg, rgb(20, 43, 82) 30%, rgb(9, 12, 17));
  cursor: pointer;
  transform: scale(1.1);
}
section:hover h2 {
  transform: rotate(5deg);
  transition: transform 1s;
}
h2 {
  background: wheat;
  color: rgb(9, 12, 17);
  padding: 10px 0;
  text-shadow: 1px 3px gray;
}
blockquote {
  background: wheat;
  color: rgb(9, 12, 17);
  width: fit-content;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 30px;
}
blockquote span {
  background: rgb(9, 12, 17);
  color: wheat;
  padding: 0 7px;
  border-radius: 30px;
}
.star {
  width: 10px;
  height: 10px;
  background: wheat;
  position: absolute;
  transform: skewY(10deg);
  animation: shine 2s linear infinite;
}
.star:nth-of-type(1) {
  top: 1.5%;
  animation: shine 1s linear infinite;
}
.star:nth-of-type(2) {
  bottom: 1.5%;
  animation: shine 3s linear infinite;
}
.star:nth-of-type(3) {
  top: 50%;
  animation: shine 0.7s linear infinite;
}
.star:nth-of-type(4) {
  top: 50%;
  left: 10.5%;
}
.star:nth-of-type(5) {
  top: 50%;
  right: 10.5%;
}
.star:nth-of-type(6) {
  top: 25%;
  right: 10.5%;
}
.star:nth-of-type(7) {
  top: 25%;
  animation: shine 1.7s linear infinite;
}
.star:nth-of-type(8) {
  top: 75%;
  animation: shine 0.5s linear infinite;
}
.star:nth-of-type(9) {
  top: 75%;
  left: 10.5%;
  animation: shine 1.3s linear infinite;
}
.star:nth-of-type(10) {
  top: 25%;
  left: 10.5%;
  animation: shine 2.7s linear infinite;
}
.star:nth-of-type(11) {
  top: 75%;
  right: 10.5%;
}
@keyframes shine {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(2), rotate(65deg);
    background: white;
  }
}
@media (max-width: 650px) {
  .toggle {
    top: 70px;
  }
}
